body {
  font-family: "Roboto", sans-serif;
  color: #3a3f52;
  text-align: center;
}

a {
  text-decoration: none;
  color: #f6f8f9;
}

h2 {
  font-size: 44px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #53627c;
  text-align: left;
}

b {
  font-weight: 700;
}

.logo {
  width: 200px;
  height: 50px;
  margin-top: 20px;
}

.instructions {
  width: fit-content;
  margin: 0 auto;
  text-align: left;
}

.p-left-aligned {
  text-align: left;
}

section {
  padding: 100px 0px;
}

.divider {
  padding: 2rem 0 0;
  margin: 2rem 0 0;
  border-top: 1px solid #3c3f45;
}

.divider-light {
  /* padding: 2rem 0 0; */
  margin: 2rem 0 0;
  border-top: 1px solid #edf1f2;
}

.game-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; Full height of the viewport */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-item {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
}

.revealed {
  background-color: lightblue;
}

.clicked {
  background-color: lightgreen;
}

.game-ending {
  background-color: lightyellow;
}

.first {
  background: black;
  /* padding: 20; */
}
.second {
  background: #f6f8f9;
}
.third {
  background: white;
}